body.dark-mode {
    background-color: var(--charcoal);
    color: #ffffff;
  }
  
  body.dark-mode .hero {
    background-color: var(--dark-gray);
  }

  body.dark-mode h1,
  body.dark-mode a,
  body.dark-mode p {
    color:  #fff;
  }
  
  body.dark-mode .my-button {
    background-color: var(--blue);
    color: #fff;
  }




  